.divide {
    border-bottom:7px solid rgb(255, 182, 18);
}

h1 {
    text-align: center;
}

.whitespace {
    margin-left: 25px;
}

body {
    background-color: #101820;
    color: rgb(255, 182, 18);
}

img {
    padding-left: 10em; 
}
