.divide {
    border-bottom: 1px solid black;
}

h1 {
    text-align: center;
}

.whitespace {
    margin-left: 25px;
}

body {
    background-color: #101820;
    color: rgb(255, 255, 255);
    font-family: 'Poppins', sans-serif;
}
